<p>
  <form action="/recipe" method="post">
    <ol>
      <li>
        <label for="recipe_name">name</label>
        <input type="text" name="recipe_name">
      </li>
      <li>
        <label for="recipe_description">description</label>
        <input type="text" name="recipe_description">
      </li>
      <li>
        <label for="recipe_time">time</label>
        <input type="text" name="recipe_time">
      </li>
      <li>
        <label for="recipe_skill">skill</label>
        <input type="text" name="recipe_skill">
      </li>
      <input type="submit" value="Submit">
    </ol>
  </form>
</p>
